<div>
  {{selectedCartoonDetails.titlePt}}
</div>
<div>{{selectedCartoonDetails.titleEn}}</div>
<div>{{selectedCartoonDetails.duration}}</div>
<div>{{selectedCartoonDetails.year}}</div>
<div>{{selectedCartoonDetails.origin}}</div>
<div>{{selectedCartoonDetails.contentClassification}}</div>
<div>{{selectedCartoonDetails.indicativeClassification}}</div>
<div>{{selectedCartoonDetails.synopsis}}</div>
<div>{{selectedCartoonDetails.genre}}</div>
<div>{{selectedCartoonDetails.director}}</div>
<div>{{selectedCartoonDetails.casting}}</div>
