@import '../../assets/variables';

:host {
  background-color: $color-gray;  
  display: block;
}

.footer {
  color: $color-gray-light;
  display: flex;
  font-size: $font-size-xs;
  justify-content: space-between;
  margin: auto;
  max-width: $main-size;
  padding: $space-lg 0;
  
  .main-text {
    font-family: $font-support;
    margin: auto;
    max-width: $main-size;
    padding: 0 $space-md;
    text-align: center;
  }
  
  .logo {
    align-self: center
  }
}
