<div class="footer">
  <img class="logo" src="assets/imgs/logo_cartoon.png">
  <span class="main-text">
    O Cartoon Network é o lugar de seus desenhos favoritos, episódios completos, vídeos, aplicativos
    e jogos grátis. Você pode jogar gratuitamente com seus personagens favoritos de Clarêncio, O Otimista,
    Jovens Titãs em Ação, Hora de Aventura com Finn e Jake, Apenas Um Show, O Incrível Mundo de Gumball,
    Steven Universo, Titio Avô, Ursos Sem Curso e muito mais!
  </span>
</div>

<app-footer-menu></app-footer-menu>
