@import '../../../assets/variables';

:host {
  display: inline-block;
  width: 60%;
}

.hour-square {
  color: $color-white;
  cursor: pointer;
  float: left;
  font-size: $font-size-lg;
  height: 0;
  margin: $space-xs;
  opacity: 0.75;
  padding-bottom: 18%;
  transition: opacity 0.3s;
  width: 18%;
}

.hour-square--active, .hour-square:hover {
  opacity: 1;
}

.hour-square--a {
  background-color:$color-primary-a;
}

.hour-square--b {
  background-color:$color-primary-b;
}

.hour-square--c {
  background-color: $color-primary-c;
}

.hour-square.hour-square--today {
  background: $color-dark;
}

.hour-square--today.hour-square--a {
  color: $color-primary-a;
}

.hour-square--today.hour-square--b {
  color: $color-primary-b;
}

.hour-square--today.hour-square--c {
  color: $color-primary-c;
}

.next-square {
  float: left;
  height: 0;
  margin: $space-xs;
  padding-bottom: 18%;
  width: 18%;

  .arrow-next {
    cursor: pointer;
    margin-left: $space-md;
    opacity: 0.75;
    transition: opacity 0.3s;
    width: 65%;
  }

  .arrow-next:hover {
    opacity: 1;    
  }
}
