@import '../../assets/variables';

:host {
  display: block;
  margin: auto;
  max-width: $main-size;
  padding: 0 $space-md;
}

.title-day {
  background-color: $color-primary-a;
  border-top: $space-sm solid $color-primary-c;
  color: $color-white;
  font-size: $font-size-xl;
  padding: $space-md;
  text-transform: uppercase;
}

.container-schedule {
  display: flex;
  margin: $space-lg 0;
}
