@import '../../../assets/variables';

:host {
  background-color: $color-gray-dark;
  color: $color-white;
  display: block;
  font-family: $font-primary;
  font-size: $font-size-xs;
  text-align: center;
}

.menu {
  list-style-type: none;
  margin: auto;
  max-width: $main-size;  
  padding: $space-sm 0;
  text-transform: uppercase;

  .item {
    cursor: pointer;
    display: inline-block;
    padding: $space-sm $space-md;
    text-decoration: center;
  }
  
  .item:hover {
    color: $color-gray-light;
  }
}
