<div class="container-schedule-details {{containerColor(selectedHour?.hour)}}">
  <div class="title-hour">{{selectedHour?.hour}}h</div>
  
  <div *ngFor="let cartoon of selectedHour?.details" (click)="onOpenScheduleDetailsModal(cartoon)" class="card-cartoon">
    <div>
      <div class="start-time">{{cartoon.startTime}}</div>      
    </div>
    <div>
      {{cartoon.cartoonId}}
    </div>
    <div>
      {{cartoon.cartoonId}}
    </div>
  </div>
</div>

<app-schedule-details-modal
  *ngIf="showScheduleDetailsModal"
  [selectedCartoon]="selectedCartoon"
  (changeScheduleDetailsModal)="onCloseScheduleDetailsModal()">>
</app-schedule-details-modal>
