@import '../../../assets/variables';

:host {
  display: inline-block;
  width: 30%;
}

.container-schedule-details {
  box-sizing: border-box;
  height: 100%;  
}

.container-schedule-details--a {
  background-color: $color-primary-a;
}

.container-schedule-details--b {
  background-color: $color-primary-b;
}

.container-schedule-details--c {
  background-color: $color-primary-c;
}

.title-hour {
  box-sizing: border-box;
  color: $color-white;
  font-size: $font-size-xxl;
  padding: $space-lg 0;
  text-align: center;
}

.card-cartoon {
  background-color: $color-white;
  cursor: pointer;
  display: flex;
  font-family: $font-support;
  height: 80px;
  justify-content: space-between;
  margin: $space-md;
  margin-top: 0;
  padding: $space-sm;
  position: relative;

  &:hover {
    background-color: rgba($color-white, 0.8);
  }

  .start-time {
    bottom: 0;
    color: $color-gray-dark;
    font-family: $font-primary;
    font-size: $font-size-lg;
    position: absolute;
    -webkit-transform-origin: 10% 20%;
    -moz-transform-origin: 10% 20%;
    -ms-transform-origin: 10% 20%;
    -o-transform-origin: 10% 20%;
    transform-origin: 10% 20%;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
