<div class="container-schedule-details {{containerColor(selectedHour?.hour)}}">
  <div class="title-hour">{{selectedHour?.hour}}h</div>
  
  <div *ngFor="let cartoon of selectedHour?.details" (click)="onOpenScheduleDetailsModal(cartoon.cartoonId)" class="card-cartoon">
    <div class="container-start-time">
      <div class="start-time">{{cartoon.startTime}}</div>
    </div>
    <div class="title">
      {{allCartoonsSchedule[cartoon.cartoonId].titlePt}}
    </div>
    <div class="thumbnail">
      <img src="assets/imgs/thumbnails/template.png" alt="{{allCartoonsSchedule[cartoon.cartoonId].titlePt}}">
    </div>
  </div>
</div>

<app-schedule-details-modal
  *ngIf="showScheduleDetailsModal"
  [selectedCartoon]="selectedCartoon"
  (changeScheduleDetailsModal)="onCloseScheduleDetailsModal()">>
</app-schedule-details-modal>
