<div class="container-content" (click)="$event.stopPropagation()">
  <button class="close-btn" (click)="onClose()">
    <img src="assets/icons/close.svg" alt="Close">
  </button>
  <div class="banner-title">
    <!-- Image hardcoded to avoid having to upload many files -->
    <img class="profile-img" src="assets/imgs/profile/regularShow.png" alt="{{selectedCartoon.titlePt}}">
    <div class="title">
      <div class="title-pt">{{selectedCartoon.titlePt}}</div>
      <div class="title-en">{{selectedCartoon.titleEn}}</div>
    </div>
    <span class="indicative-badge">{{selectedCartoon.indicativeClassification}}</span>    
  </div>
  <div class="container-synopsis">
    {{selectedCartoon.synopsis}}
  </div>
  <div class="container-misc">
    <div class="info"><span class="label">Duração:</span> {{selectedCartoon.duration}} minutos</div>
    <div class="info"><span class="label">Ano de produção:</span> {{selectedCartoon.year}}</div>
    <div class="info"><span class="label">Pais de origem:</span> {{selectedCartoon.origin}}</div>
    <div class="info"><span class="label">Classificação de conteúdo:</span> {{selectedCartoon.contentClassification}}</div>
    <div class="info"><span class="label">Classificação indicativa:</span> {{selectedCartoon.indicativeClassification}}</div>
    <div class="info"><span class="label">Gênero:</span> {{selectedCartoon.genre}}</div>
    <div class="info"><span class="label">Diretor:</span> {{selectedCartoon.director}}</div>
    <div class="info"><span class="label">Casting:</span> {{selectedCartoon.casting}}</div>
  </div>
</div>
