@import '../../../../assets/variables';

:host {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  color: $color-white;
  display: flex;
  flex-direction: column;
  font-family: $font-support;
  justify-content: center;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.container-content {
  background-color: $color-primary-b;
  border-radius: 10px;
  max-height: 80%;
  max-width: 750px;
  min-width: 600px;
  overflow: auto;
  padding: $space-xxl 0 $space-lg;
  position: relative;

  .close-btn {
    background-color: $color-primary-a;
    border: 0;
    border-radius: 5px;
    color:$color-white;
    cursor: pointer;
    display: flex;
    font-weight: 800;
    height: 20px;
    justify-content: center;
    right: 10px;
    position: absolute;
    top: 6px;
    width: 20px;

    img {
      flex-shrink: 0;
      width: 12px;
    }
  }
}

.banner-title {
  align-items: center;
  background-color: $color-primary-c;
  color: $color-white;
  display: flex;
  justify-content: center;
  padding: $space-lg;
  text-transform: uppercase;
  
  .profile-img {
    border: $space-md solid $color-primary-a;
    border-radius: 50%;
    position: relative;
    width: 100px;
    z-index: 9999;
  }

  .title {
    background-color: $color-primary-a;
    display: inline-block;
    margin-left: -$space-xl;
    padding: $space-lg;
    padding-left: $space-xxl;
  }  

  .title-pt {
    font-family: $font-primary;    
    font-size: $font-size-xl;
  }

  .indicative-badge {
    background-color: $color-primary-a;
    border: $space-sm solid $color-white;
    border-radius: 10px;
    font-family: $font-support;
    font-size: $font-size-md;
    margin: 0 $space-lg;
    padding: $space-sm $space-md;
    text-align: center;
  }
}

.container-synopsis {
  font-size: $font-size-md;
  padding: $space-lg $space-xl;  
}

.container-misc {
  border-top: 4px solid $color-primary-c;
  border-bottom: 4px solid $color-primary-c;
  font-size: $font-size-sm;
  padding: $space-lg $space-xl;

  .info {
    margin: $space-sm;
  }

  .label {
    font-weight: 900;      
  }
}
