$color-dark: #000;
$color-gray: #4c4c4c;
$color-gray-light: #c9c9c9;
$color-gray-dark: #212121;
$color-white: #fff;

$color-primary-a: #009ade;
$color-primary-b: #ec0080;
$color-primary-c: #ffea00;

$main-size: 970px;

$space-xs: 2px;
$space-sm: 4px;
$space-md: 8px;
$space-lg: 16px;

$font-primary: "cn-latin";

$font-size-xs: 0.85em;
$font-size-sm: 1em;
$font-size-md: 1.25em;
$font-size-lg: 1.5em;
$font-size-xl: 2em;
