@import 'assets/variables';

@font-face {
  font-family: "cn-latin";
  src: url("/assets/fonts/cnlatin.woff") format("woff");
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  border: 0;
  font-family: $font-primary;
  margin: 0;
}
